{% extends 'main.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}">

{#    {% if user.is_authenticated %}#}
{#        <h2>Welcome, {{ user.username }}</h2>#}
{#    {% else %}#}
{#        <h2>Welcome, Stranger</h2>#}
{#    {% endif %}#}

    <div class="post-index">
        {% for post in posts %}
            {% include "post/post-card.html" with post=post %}
        {% endfor %}
    </div>

    <div class="home-footer">
        <a href="/posts/">
            <h2 class="blue-button">
               See more Posts &rarr;
            </h2>
        </a>
    </div>

{% endblock content%}