.post-card {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    max-width: 540px;
    overflow: hidden;
    margin: 2em auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
}

.post-header {
    background: #9AADBC;
    background: linear-gradient(0deg, rgba(154, 173, 188, 1) 0%, rgba(174, 191, 205, 1) 100%);
    border-radius: 5px 5px 0 0;
    text-align: right;
    padding: 1em;
    display: flex;
    color: #354b5c;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3));
}

.user-info > a {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1;
}

.avatar-icon {
    border-radius: 50%;
    max-width: 44px;
    max-height: 44px;
    margin-right: 1em;
}

.post-stats {
    background: #9AADBC;
    background: linear-gradient(0deg, rgba(154, 173, 188, 1) 0%, rgba(174, 191, 205, 1) 100%);
    border-radius: 0 0 5px 5px;
    text-align: right;
    padding: 0.5em 1em;
    display: flex;
    color: #354b5c;
}

.see-more {
    font-style: italic;
}

.post-body {
    background: #e6ebef;
}

.post-body > :not(.post-gallery) {
    margin: 2em;
}

.post-short-text {
    padding: 1em;
    max-height: 600px;
}

.post-gallery {
    max-height: 600px;
    overflow: hidden;
}

