.profile-content {
    display: flex;
    flex-direction: column;
}

.profile-info {
    margin: 2em;
    display: flex;
    flex-direction: row;
}

.about-profile {
    flex: 1;
}

.profile-info > :not(:last-child) {
    margin-right: 2em;
}

.options-buttons {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.options-buttons > a {
    color: #354b5c;
}

.display-name-area {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.display-name {
    font-size: larger;
    font-weight: bolder;
    margin-right: .25em;
}

.username {
    font-size: smaller;
    color: #354b5c;
}