{% load static %}
<link rel="stylesheet" href="{% static 'pagination.css' %}">
<div class="pagination">
    {% if paged_items.has_previous %}
        <a class="blue-button" href="./1">&larrb;</a>
        <a class="blue-button" href="./{{ paged_items.previous_page_number }}">&larr;</a>
    {% endif %}
    <span class="current blue-button">
        Page {{ paged_items.number }} of {{ paged_items.paginator.num_pages }}.
    </span>
    {% if paged_items.has_next %}
        <a class="blue-button" href="./{{ paged_items.next_page_number }}">&rarr;</a>
        <a class="blue-button" href="./{{ paged_items.paginator.num_pages }}">&rarrb;</a>
    {% endif %}
</div>