{% load static %}
<link rel="stylesheet" href="{% static 'post/post-card.css' %}">
<div class="post-card" id={{ post.id }}>

    {% if not post.parent_id %}
        <a href="/post/{{ post.id }}">
    {% else %}
        <a href="/post/{{ post.parent_id }}#{{ post.id }}">
    {% endif %}
        <div class="post-header">
            {% if not post.parent_id %}
                <span class="post-title">{{ post.title }}</span>
            {% endif %}
            <span class="post-date">{{ post.created_at }}</span>
        </div>
    </a>

    <div class="post-body">

    <div class="post-content">
        <div class="author-content">
            {% include "user/profile-card.html" with profile=post.get_author_profile  %}
        </div>
        {% if post.body %}
            <div class="post-text">
                <span>{{ post.body }}</span>
            </div>
            {% endif %}
        {% if post.image %}
            <div class="post-gallery">
                <a href="{{ post.image.url }}">
                    <img class="post-image" src="{{ post.image.url }}" alt="{{ title }}">
                </a>
            </div>
        {% endif %}
        {%  if post.get_child_count %}
            <div class="reply-count">
                {{ post.get_child_count }} Repl{{ post.get_child_count|pluralize:"y,ies"}}
            </div>
        {% endif %}
    </div>
    </div>
</div>